@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Itim&family=Jua&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --border-style: 2px solid black;
  --border-radius: 5px;
  --size-small: 1rem;
  --backcolor-1: white;
  --regular-size: 2rem;
}
body{
    margin-left: var(--regular-size);
    margin-right: var(--regular-size);
    background-color: #FCC02A;
    font-family: "Jua", sans-serif;
    letter-spacing: 1px;
}



  h1{
    font-size: 3rem;
    text-align: center;
  }
  


  section{
    padding-top: var(--size-small);
  }

  .container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  #mytodo{
    margin-top: var(--regular-size);
  }
  
  
  .buttons, button {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  button:hover {
    color: black;
  }
  
  button lord-icon{
    width: 20px;
    height: 20px;
  }
  
  button::before {
    content: '';
    position: absolute;
    display: block;
    /* background-color: #fff; */
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: 100%;
    z-index: -10;
    transition: right 0.3s;
    /* border:  2px solid black;; */
  }
  
  button:active {
    transform: translateY(2px);
  }

  #myInput{
    width: 100%;
    font-size: 1.2rem;
    border: var(--border-style);
    border-radius: var(--border-radius);
    /* padding-left: 10px; */
    padding: var(--size-small);
    font-family: "Itim", cursive;
    /* margin-bottom: 2rem; */
  }

 

  button, .totask, .back{
    background-color: #3498db;
    color: var(--backcolor-1);
    border-radius: var(--border-radius);
    width: 40%;
    padding: 0.5rem;
    border: var(--border-style);
    margin-top: var(--size-small);
    font-size: 1.2rem;
    font-family: "Itim", cursive;;

  }

  .backbtn{
    margin-top: 1.5rem;
    margin-bottom: var(--regular-size);
  }

  ul{
    padding: 0;
  }

  .task{
    border-radius: var(--border-radius);
    border:var(--border-style);
    padding-top: 0;
    background-color: #FE688E;
    color: black;
    font-size: 1.5rem;
    padding: var(--size-small);
  }

  li{
    margin-top: var(--regular-size);
    list-style-type: none;
  }

  .list-item{
    width: 100%;
    display: flex;
    align-items: center;

  }
  
  /* .easy, .medium, .hard{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
  } */

  h3{
    grid-row: 1;
  }

  .easy-icon, .medium-icon, .hard-icon{
    grid-row: 2;
    padding: 0;
  }

  svg{
    width: 40%;
    /* padding-top: 2rem; */
    margin: 0;
    /* padding: 0; */
    /* position: relative; */
  }

  label, .radiobtn, .label-content{
    display: inline-flex; 
    align-items: center; 
    
  }

  .level-sec{
    border: var(--border-style);
    border-radius: var(--border-radius);
    margin-top: var(--size-small);
    background-color: var(--backcolor-1);
  }

  .radiobtn-e, .radiobtn-m, .radiobtn-h{
    display: inline-flex; 
    align-items: center; 
    gap: 20px;
    padding: var(--size-small);
    
  }

  text{
    padding: 0;
    font-size: 1.3rem;
  }



  .mylist {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 80%;
    max-width: 500px;
    background-color: var(--backcolor-1);
    border-radius: var(--border-radius);
    box-shadow: 10px 10px 0 0 rgba(0,0,0,0.2);
    list-style: none;
    overflow: hidden;
  }
  
  .hidden-box {
    appearance: none;
    opacity: 0;
  }
  
  .check--label {
    width: 90%;
    background-color: var(--backcolor-1);
    padding-right:var(--size-small);
  }
  
  .check--label-box {
    display: inline-block;
    align-self: center;
    position: relative;
    height: 25px;
    width: 25px;
    margin: 0 1.5rem;
    border: 2px solid #3498db;
    border-radius: var(--border-radius);
    cursor: pointer;
    flex-shrink: 0;
  }
  .check--label-text {
    display: flex;
    align-self: center;
    position: relative;
    cursor: pointer;
    padding: 20px;
    /* border-left: 1px solid #ecf0f1; */
    font-size: var(--size-small);
    flex-grow: 1;
  }

  .hidden-box:checked{
    background-color: black;
  }
  
  .hidden-box:checked + .check--label {
    background-color: #FCC02A;
    .check--label-box {
      background-color: #3498db;
       &:after {
        content: '';
        display: block;
        position: absolute;
        top: 3px;
        left: 8px;
        width: 6px;
        height: 12px;
        border: solid #000;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
    /* .check--label-text {
      &:after {
        width: 85%;
      }
    } */
  }

  .close{
    /* cursor: pointer; */
    padding-left: var(--size-small);
    font-size: var(--regular-size);
  }

  .difficulty-icon svg{
    width: 100%;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
  }
  fieldset{
    margin-top: var(--regular-size);
    border-radius: var(--border-radius);
    border: 0;
    padding: 0;
    font-size: 1.5rem;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
  }

  #easy, #medium, #hard{
    width: 30px;
    height: 30px;
  }

  a{
    text-decoration: none;
  }

  @media (min-width:768px) {
    .level-sec{
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .check--label{
      width: 100%;
    }

    .check--label-box {
      width: 50px;
      height: 50px;
    }

    .hidden-box:checked + .check--label {
      & .check--label-box {
          &:after {
              top: 10px;
              left: 20px;
              border-width: 0 5px 5px 0;
              text-align: center;
          }
      }
    }

    .check--label-text {
      font-size: 2rem;
    }


    .difficulty-icon svg{
      width: 100%;
      scale: 1.5;
    }

    .close{
      padding-right: 2rem;
      padding-left: 3rem;
    }
    

  }


  @media (min-width:1024px) {
    .level-sec{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      /* width: 110%; */
      /* margin-right: 5rem; */
    }

    .level{
      padding-left: 0;
      padding-right: 0;
    }

    .difficulty-icon svg {
      width: 100%;
      scale: 2;
    }

    .check--label-text {
      font-size: 3rem;
    }
  
  }

  

  @media (min-width:1440px) {
    body{
      margin-left: 5rem;
      margin-right: 5rem;
    }
    .functions{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      
    }

    #myinput{
      width:92%;
      height: 20%;
    }


    h2{
      font-size: 2rem;
    }

    button{
      font-size: 1.5rem;
      /* width: 40%; */
    }

    .header{
      grid-column: 1/span 2;
      grid-row: 1;
    }
    #input-dropdown{
      grid-column: 1;
      grid-row: 2;
      padding-left: 2rem;
    }

    .level{
      grid-column: 2;
      grid-row: 2/span 5;
    }

    .mylist{
      grid-column: 2;
      grid-row: 2;
    }

    
    form{
      padding-right: 3rem;
    }

    legend{
      font-size: 2rem;
    }

    .level-sec{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      /* width: 110%; */
      /* width: 185%; */
      margin-right: 3rem;
    }

    .close{
      padding-left: 5rem;
      padding-right: 2rem;
      font-size: 3rem;
    }

    text{
      font-size: 1.5rem;
    }

    .check--label-text{
      font-size: 2.5rem;
    }

    .difficulty-icon svg{
      width: 100%;
      scale: 2;
      /* margin-right: 8rem; */
    }

    .totask, .back{
      display: none;
    }

    #easy, #medium, #hard{
      width: 60px;
      height: 60px;
    }
  }
