@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #FCC02A;
    font-family: "Fraunces", serif;
}

#levels{
    width: 50%;
}

option{
    width: 50%;
    background-color: red;
}

h1{
  font-size: 3rem;
  text-align: center;
}

.circle1{
   
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

section{
    padding-top: 1rem;
}

/* .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
  }
  
  .circular-menu {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #f1f1f1;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .circular-menu a {
    display: block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: 5px;
    background: #3498db;
    color: #FE688E;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    position: absolute;
  } */


  .container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  
  /* .countdown-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 4.5rem;
    border: 2px solid blueviolet;
    background-color: antiquewhite;
  }
  
  #countdownText {
    font-weight: bold;
    color: #FE688E;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translate(-14%, -2%);
  }

  #hourInput, #minuteInput{
    margin-left: 2rem;
  }
  
  .controls {
    text-align: center;
    width: 100%;
  } */
  
  /* input[type="number"] {
    padding: 10px;
    font-size: 18px;
    font-family: 'Orbitron', Helvetica, sans-serif;
    width: 80%;
    border: 1px solid #fff;
    margin-bottom: 15px;
    outline: none;
    text-align: center;
    background-color: #3498db;
    color: #FE688E;
  }
  
  input[type="number"]:focus {
    border-color: #FFFB7D;
  }
  
  input[type="number"]::placeholder {
    color: rgb(190, 189, 189);
    opacity: 1;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } */
  
  .buttons, button {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  button:hover {
    color: black;
  }
  
  button lord-icon{
    width:20px;
    height:20px;
  }
  
  button::before {
    content: '';
    position: absolute;
    display: block;
    /* background-color: #fff; */
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: 100%;
    z-index: -10;
    transition: right 0.3s;
    border: 1px solid black;
  }
  
  button:active {
    transform: translateY(2px);
  }

  #myInput{
    width: 100%;
    font-size: 1.6rem;
    /* padding: .5rem; */
    /* margin-bottom: 2rem; */
  }

 

  button{
    background-color: #3498db;
    color: white;
    border-radius: .5rem;
    width: 30%;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    margin-top: 1rem;

  }

  ul{
    padding: 0;
  }

  .task{
    border-radius: 5px;
    border: 2px solid black;
    padding-top: 0;
    background-color: #FE688E;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
  }

  li{
    margin-top: 2rem;
    list-style-type: none;
  }

  .list-item{
    width: 100%;
    display: flex;
    align-items: center;

  }
  
  .easy, .medium, .hard{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
  }

  h3{
    grid-row: 1;
  }

  .easy-icon, .medium-icon, .hard-icon{
    grid-row: 2;
    padding: 0;
  }

  svg{
    width: 40%;
    /* padding-top: 2rem; */
    margin: 0;
    /* padding: 0; */
    /* position: relative; */
  }

  label, .radiobtn, .label-content{
    display: inline-flex; 
    align-items: center; 
    
  }

  .radiobtn-e, .radiobtn-m, .radiobtn-h{
    display: inline-flex; 
    align-items: center; 
    gap: 20px;
    background-color: white;
    padding: 1rem;
    
  }

  .radiobtn-e{
    border-radius: 5px 5px 0px 0px;
  }

  .radiobtn-h{
    border-radius: 0px 0px 5px 5px;
  }



  text{
    padding: 0;
    font-size: 1.3rem;
    /* position: absolute;
    padding-top: 6rem;
    padding-left: 1.5rem; */
  }



  .mylist {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 10px 10px 0 0 rgba(0,0,0,0.2);
    list-style: none;
    overflow: hidden;
    
    .list-item {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #ecf0f1;
      position: relative;
      
      &:last-child {
        border: 0;
      }
    }
  }
  
  .hidden-box {
    /* position: absolute; */
    /* top: -9999px;
    left: -9999px; */
    appearance: none;
    opacity: 0;
  }

  /* .check--label, .check--label-text{
    display: flex;
    align-items: center;
    gap: 6px;
  } */
  
  .check--label {
    /* font-size: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; */
    width: 90%;
    background-color: white;
    padding-right: 2rem;
  }
  
  .check--label-box {
    display: inline-block;
    align-self: center;
    position: relative;
    height: 25px;
    width: 25px;
    margin: 0 1.5rem;
    border: 2px solid #3498db;
    border-radius: 2px;
    cursor: pointer;
    flex-shrink: 0;
  }
  .check--label-text {
    display: flex;
    align-self: center;
    position: relative;
    cursor: pointer;
    padding: 20px;
    /* border-left: 1px solid #ecf0f1; */
    font-size: 1rem;
    flex-grow: 1;
    
    /* &:after {
      content: '';
      display: block;
      width: 0%;
      height: 2px;
      background-color: #000;
      position: absolute;
      top: 50%;
      left: 7.5%;
      transform: translateY(-50%);
      transition: width 100ms ease-in-out;

    } */
  }

  .hidden-box:checked{
    background-color: black;
  }
  
  .hidden-box:checked + .check--label {
    background-color: #FCC02A;
    .check--label-box {
      background-color: #3498db;
       &:after {
        content: '';
        display: block;
        position: absolute;
        top: 3px;
        left: 8px;
        width: 6px;
        height: 12px;
        border: solid #000;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
    .check--label-text {
      &:after {
        width: 85%;
      }
    }
  }

  .close{
    /* cursor: pointer; */
    padding-left: 1rem;
    font-size: 2.5rem;
  }

  .difficulty-icon svg{
    width: 100%;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
  }
  fieldset{
    margin-top: 2rem;
    border-radius: 5px;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
  }

  #easy, #medium, #hard{
    width: 30px;
    height: 30px;
  }

  @media (min-width:521px) {
    fieldset{
      margin-top: 2rem;
      border-radius: 5px;
      display: grid;
      /* grid-template-columns: repeat(3, 1fr); */
    }

    text{
      font-size: 2rem;
    }

  }

  @media (min-width:768px) {
    fieldset{
      margin-top: 2rem;
      border-radius: 5px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .check--label-box {
      width: 50px;
      height: 50px;
    }

    .hidden-box:checked + .check--label {
      & .check--label-box {
          &:after {
              top: 10px;
              left: 20px;
              border-width: 0 5px 5px 0;
              text-align: center;
          }
      }
    }

    .check--label-text {
      font-size: 2rem;
    }


    .difficulty-icon svg{
      width: 100%;
    }
    

  }


  @media (min-width:1024px) {
    fieldset{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      /* margin-right: 5rem; */
    }

    .level{
      padding-left: 0;
      padding-right: 0;
    }

    .difficulty-icon svg {
      width: 100%;
    }

    .check--label-text {
      font-size: 3rem;
    }
  
  }

  

  @media (min-width:1440px) {
    body{
      margin-left: 5rem;
      margin-right: 5rem;
    }
    .functions{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      
    }

    #myinput{
      width:92%;
      height: 20%;
    }

    h1{
      margin-left: 8rem;
    }

    h2{
      font-size: 2rem;
    }

    button{
      font-size: 1.5rem;
      /* width: 40%; */
    }

    .header{
      grid-column: 1/span 2;
      grid-row: 1;
    }
    #input-dropdown{
      grid-column: 1;
      grid-row: 2;
      padding-left: 2rem;
    }

    .level{
      grid-column: 2;
      grid-row: 2/span 5;
    }

    .mylist{
      grid-column: 2;
      grid-row: 2;
    }

    
    form{
      padding-right: 3rem;
    }

    legend{
      font-size: 2rem;
    }

    fieldset{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-right: 3rem;
    }

    text{
      font-size: 1.5rem;
    }
/* 
    .level{
      padding-left: 3rem;
      padding-right: 3rem;
    } */

    .check--label-text{
      font-size: 2.5rem;
    }

    .difficulty-icon svg{
      width: 100%;
    }

    /* .easy{
      width: 100%;
    }

    .radiobtn{
      width: 70%;
      padding-left: 3rem;
    }
     */
  }
